html, body {
  height: 100%;
}

.navbar-nav {
  font-weight: 600;
}

header {
  position: relative;
  height: 100%;
  min-height: 540px;
  padding-top: 120px;
  padding-bottom: 60px;
  background: #131922;
  text-align: center;
}
header h1 {
  color: white;
}
header .affiliation {
  margin-top: 70px;
}
header .affiliation div {
  margin-top: 10px;
}
header .affiliation div .isi-logo {
  width: 250px;
}
header .scroll-btn-container {
  position: absolute;
  top: 80%;
  width: 100%;
}
header .scroll-btn-container .scroll-btn {
  display: table;
  margin: auto;
  width: 50px;
  height: 50px;
  border: 2px solid #ccc;
  border-radius: 50%;
  color: #ccc;
  text-decoration: none;
  outline: none;
}
header .scroll-btn-container .scroll-btn i {
  display: table-cell;
  vertical-align: middle;
  font-size: 30px;
}
header .scroll-btn-container .scroll-btn:hover {
  border-color: white;
  color: white;
}

section {
  padding-top: 60px;
}
section h2 {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}
section .content {
  margin: auto;
  max-width: 700px;
}

#about .content .carousel {
  margin: 20px auto;
  max-width: 400px;
}
#about .content .carousel img {
  width: 100%;
}

#tweets .content {
  text-align: center;
}
#tweets .content iframe {
  height: 500px !important;
}

#people ul.content {
  max-width: 800px;
}
@media (max-width: 600px) {
  #people ul.content {
    text-align: center;
  }
}
#people ul.content li {
  display: inline-block;
  margin: 12px;
  width: 130px;
  border-radius: 5px;
  overflow: hidden;
  background: #333;
}
#people ul.content li:hover {
  background: black;
}
#people ul.content li a {
  display: block;
  height: 130px;
  background-repeat: no-repeat;
  background-position: center 10%;
  background-size: cover;
}
#people ul.content li .description {
  padding: 8px;
  color: #ccc;
}
#people ul.content li .description .name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 3px;
  font-size: 0.85em;
  font-weight: 600;
}
#people ul.content li .description .title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.8em;
}

#projects .content {
  max-width: 900px;
  text-align: center;
}
#projects .content a.project {
  position: relative;
  display: inline-block;
  margin: 10px;
  width: 250px;
  height: 250px;
  border: 1px solid #ddd;
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer;
}
#projects .content a.project::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: background 0.3s linear;
          transition: background 0.3s linear;
}
#projects .content a.project .img-container {
  width: 100%;
  height: 60%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#projects .content a.project .img-container.contain {
  background-size: contain;
}
#projects .content a.project .description {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40%;
  background: #ECF0F1;
  color: #34495e;
  -webkit-transition: all 0.3s linear;
          transition: all 0.3s linear;
}
#projects .content a.project .description .name {
  margin: 15px;
  margin-bottom: 5px;
  font-weight: 600;
}
#projects .content a.project:hover::before {
  background: rgba(0, 0, 0, 0.5);
}
#projects .content a.project:hover .description {
  background: #555;
  color: white;
}

footer {
  margin-top: 60px;
  background: #eee;
  font-size: 0.9em;
  text-align: center;
  padding: 20px;
}
