html, body {
	height: 100%;
}

.navbar-nav {
	font-weight: 600;
}

header {
	position: relative;
	height: 100%;
	min-height: 540px;
	padding-top: 120px;
	padding-bottom: 60px;
	background: #131922;
	text-align: center;
	h1 {
		color: white;
	}
	.affiliation {
		margin-top: 70px;
		div {
			margin-top: 10px;
		}
	}
	.scroll-btn-container {
		position: absolute;
		top: 80%;
		width: 100%;
		.scroll-btn {
			display: table;
			margin: auto;
			width: 50px;
			height: 50px;
			border: 2px solid #ccc;
			border-radius: 50%;
			color: #ccc;
			text-decoration: none;
			outline: none;
			i {
				display: table-cell;
				vertical-align: middle;
				font-size: 30px;
			}
			&:hover {
				border-color: white;
				color: white;
			}
		}
	}
}

section {
	padding-top: 60px;
	h2 {
		margin-top: 0;
		margin-bottom: 20px;
		text-align: center;
	}
	.content {
		margin: auto;
		max-width: 700px;
	}
}

#about {
	// padding-bottom: 60px;
	// background: #111;
	.content {
		.carousel {
			margin: 20px auto;
			max-width: 400px;
			img {
				width: 100%;
			}
		}
	}
}

#tweets {
	.content {
		text-align: center;
		iframe {
			height: 500px !important;
		}
	}
}

#people {
	ul.content {
		max-width: 800px;
		@media (max-width: 600px) {
			text-align: center;
		}
		li {
			display: inline-block;
			margin: 12px;
			width: 130px;
			border-radius: 5px;
			overflow: hidden;
			background: #333;
			&:hover {
				background: black;
			}
			a {
				display: block;
				height: 130px;
				background-repeat: no-repeat;
				background-position: center 10%;
				background-size: cover;
			}
			.description {
				padding: 8px;
				color: #ccc;
				@mixin ellipsis {
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
				.name {
					@include ellipsis;
					margin-bottom: 3px;
					font-size: 0.85em;
					font-weight: 600;
				}
				.title {
					@include ellipsis;
					font-size: 0.8em;
				}
			}
		}
	}
}

#projects {
	.content {
		max-width: 900px;
		text-align: center;
		a.project {
			position: relative;
			display: inline-block;
			margin: 10px;
			width: 250px;
			height: 250px;
			border: 1px solid #ddd;
			border-radius: 3px;
			overflow: hidden;
			cursor: pointer;
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				transition: background 0.3s linear;
			}
			.img-container {
				width: 100%;
				height: 60%;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center center;
				&.contain {
					background-size: contain;
				}
			}
			.description {
				position: absolute;
				bottom: 0;
				width: 100%;
				height: 40%;
				background: #ECF0F1;
				color: #34495e;
				transition: all 0.3s linear;
				.name {
					margin: 15px;
					margin-bottom: 5px;
					font-weight: 600;
				}
			}
			&:hover {
				&::before {
					background: rgba(0,0,0,0.5);
				}
				.description {
					background: #555;
					color: white;
				}
			}
		}
	}
}

footer {
	margin-top: 60px;
	background: #eee;
	font-size: 0.9em;
	text-align: center;
	padding: 20px;
}