@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:700,400);

$open-sans: 'Open Sans', sans-serif;
$roboto-slab: 'Roboto Slab', serif;

html, body {
	font-family: $open-sans;
	font-size: 15px;
}

.navbar {
	font-weight: 600;
}

header {
	position: relative;
	min-height: 540px;
	padding-top: 120px;
	padding-bottom: 60px;
	background: #131922;
	text-align: center;
	.dig-logo {
		width: 350px;
		max-width: 90%;
	}
	h1 {
		font-size: 1.6em;
		font-weight: 600;
		color: white;
	}
	.credit {
		margin-top: 40px;
		div {
			margin-top: 10px;
			.isi-logo {
				width: 250px;
			}
		}
	}
	.scroll-btn-container {
		position: absolute;
		top: 80%;
		width: 100%;
		.scroll-btn {
			display: table;
			margin: auto;
			width: 50px;
			height: 50px;
			border: 2px solid #ccc;
			border-radius: 50%;
			color: #ccc;
			text-decoration: none;
			outline: none;
			i {
				display: table-cell;
				vertical-align: middle;
				font-size: 30px;
			}
			&:hover {
				border-color: white;
				color: white;
			}
		}
	}
}


section {
	padding-top: 60px;
	h2 {
		margin-top: 0;
		margin-bottom: 20px;
		text-align: center;
	}
	.content {
		margin: auto;
		max-width: 700px;
	}
}

#slides {
	padding-bottom: 60px;
	background: #111;
	.content {
		max-width: 600px;
		.slides-wrapper {
			position: relative;
			padding-bottom: 80%;
			iframe {
				position: absolute;
				width: 100%;
				height: 100%;
				border: none;
			}
		}
		.more {
			margin-top: 10px;
			color: #666;
		}
	}
}

#tweets {
	.content {
		text-align: center;
		iframe {
			display: block !important;
			width: 100% !important;
			height: 400px !important;
		}
	}
}

#people {
	ul.content {
		padding: 0;
		max-width: 800px;
		@media (max-width: 600px) {
			text-align: center;
		}
		li {
			display: inline-block;
			margin: 12px;
			width: 130px;
			border-radius: 5px;
			overflow: hidden;
			background: #333;
			&:hover {
				background: black;
			}
			a {
				display: block;
				height: 130px;
				background-repeat: no-repeat;
				background-position: center 10%;
				background-size: cover;
			}
			.description {
				padding: 8px;
				color: #ccc;
				@mixin ellipsis {
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
				.name {
					@include ellipsis;
					margin-bottom: 3px;
					font-size: 0.8em;
					font-weight: 600;
				}
				.title {
					@include ellipsis;
					font-size: 0.7em;
				}
			}
		}
	}
}

#org {
	text-align: center;
	img {
		width: 150px;
		margin: 20px;
	}
}

#pub {
	li {
		margin: 10px 0;
		.title {
			font-weight: bold;
		}
		.author {
			font-size: 0.9em;
		}
		.location {
			font-size: 0.9em;
			font-style: italic;
		}
	}
}

footer {
	margin-top: 60px;
	background: #eee;
	font-size: 0.9em;
	text-align: center;
	padding: 20px;
}