@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:700,400);

$open-sans: 'Open Sans', sans-serif;
$roboto-slab: 'Roboto Slab', serif;

body {
	font-family: $open-sans;
}

h1, h2, h3 {
	font-family: $roboto-slab;
	margin-top: 0;
}

.dig-nav-bar {
	position: fixed;
	width: 100%;
	padding: 20px 0;
	background: rgba(0,0,0,0.6);
	.dig-nav-brand {
		float: left;
		width: 50px;
	}
	nav {
		float: right;
		a {
			margin: 0 15px;
			font-size: 1.1em;
			font-weight: 600;
			color: #aaa;
			text-decoration: none;
			outline: none;
			transition: color .3s ease;
			&:hover, &:focus {
				color: white;
			} 
		}
	}
}

header {
	padding-top: 120px;
	padding-bottom: 60px;
	background: #333;
	color: white;
	.container {
		position: relative;
		.dig-logo {
			width: 100%;
			max-width: 400px;
		}
		.others {
			position: absolute;
			right: 0;
			bottom: 0;
			a {
				display: block;
				margin-top: 10px;
			}
			.isi-logo {
				width: 250px;
			}
		}
	}
}

.slides {
	width: 100%;
	border: none;
}

.section {
	margin-top: 20px;
	border-radius: 5px;
	padding: 20px;
	background: #ddd;
}

.twitter {
	margin-top: 20px;
}

.video {
	width: 100%;
	height: 400px;
	border: none;
	margin-bottom: 10px;
}

ul.organizations {
	li {
		display: inline-block;
		width: 100px;
		margin: 12px;	
		img {
			width: 100%;
		}
	}
}

ul.people {
	li {
		display: inline-block;
		width: 50px;
		margin: 5px;
		img {
			width: 100%;
			border-radius: 5px;
		}
	}
}

footer {
	background: #eee;
	border-top: 1px solid #e1e1e1;
	margin-top: 30px;
	padding: 15px;
}