@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:700,400);

$open-sans: 'Open Sans', sans-serif;
$roboto-slab: 'Roboto Slab', serif;
$font-color: #333;
$bg-dark: #30303d;

html, body {
	font-family: $open-sans;
	height: 100%;
	font-size: 16px;
	color: $font-color;
}

.dig-nav-bar {
	position: fixed;
	z-index: 1;
	width: 100%;
	padding: 20px 0;
	background: rgba(0,0,0,0.8);
	.dig-nav-brand {
		float: left;
		width: 50px;
	}
	nav {
		float: right;
		a {
			margin: 0 15px;
			font-size: 15px;
			font-weight: 600;
			color: #aaa;
			text-decoration: none;
			outline: none;
			transition: color .3s ease;
			&:hover, &:focus {
				color: white;
			} 
		}
	}
}

header {
	height: 100%;
	min-height: 540px;
	padding-top: 120px;
	padding-bottom: 60px;
	background: #131922;
	text-align: center;
	.dig-logo {
		width: 300px;
	}
	h1 {
		font-size: 1.5em;
		font-weight: 600;
		color: white;
	}
	a.button {
		display: inline-block;
		margin: 20px 0;
		padding: 10px 20px;
		border: 1px solid white;
		border-radius: 5px;
		color: white;
		text-decoration: none;
		outline: none;
		&:hover {
			text-shadow: 0 0 1px rgba(255,255,255, 0.6);
			box-shadow: 0 0 5px rgba(255,255,255, 0.6);
		}
	}
	.credit {
		margin-top: 20px;
		a {
			display: block;
			margin-top: 10px;
			.isi-logo {
				width: 250px;
			}
		}
	}
}

.slides {
	display: block;
	width: 100%;
	border: none;
}

section {
	padding: 60px 0;
	h2 {
		margin-top: 0;
		margin-bottom: 20px;
		text-align: center;
		text-transform: uppercase;
	}
}

.about {
	background: $bg-dark;
	h2 {
		color: white;
	}
	.content {
		margin: auto;
		max-width: 700px;
		color: #aaa;
	}
}

.news {
	h2 {
		// color: black;
	}
	iframe {
		display: block !important;
		margin: auto !important;
		width: 100% !important;
		max-width: 700px !important;
		height: 400px !important;
	}
}

.people {
	background: #ccc;
	h2 {
		// color: black;
	}
	ul {
		list-style: none;
		margin: auto;
		max-width: 1100px;
		li {
			display: inline-block;
			margin: 15px;
			width: 160px;
			border-radius: 5px;
			overflow: hidden;
			background: #333;
			&:hover {
				background: black;
			}
			.img-container {
				display: block;
				height: 160px;
				background-repeat: no-repeat;
				background-position: center 10%;
				background-size: cover;
			}
			.description {
				padding: 10px;
				line-height: 1.2;
				color: #ccc;
				@mixin ellipsis {
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
				.name {
					@include ellipsis;
					margin-bottom: 5px;
					font-size: 0.8em;
					font-weight: 600;
				}
				.title {
					@include ellipsis;
					font-size: 0.7em;
				}
			}
		}
	}
}

.org {
	text-align: center;
	img {
		width: 100px;
		margin: 0 15px;
	}
}

.ack {
	background: $bg-dark;
	text-align: center;
	color: #aaa;
	h2 {
		color: white;
	}
}

footer {
	background: black;
	color: #aaa;
	font-size: 0.9em;
	text-align: center;
	padding: 20px;
}